[run]
source =
    accounts
    cocktails
    core
    learning
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: