cloudinary==1.46.2
dj-database-url==3.1.2
Django==6.1.1
django-anymail==15.2
django-cloudinary-storage==0.3.0
django-filter==26.1
django-tailwind==4.5.0
gunicorn==26.2.0
pillow==12.3.0
psycopg[binary]==3.3.5
pytailwindcss==0.3.1
python-dotenv==1.2.3
whitenoise==6.12.0